.navBar {
  background-color: #2176ae;
}

.collapse {
  font-size: 14px;
}

.navLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: none;
  opacity: 0.6;
  color: #000000;
}

.Subtab {
  background-color: #2176ae;
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}